.selector {

    height: 3vw;
    width: 16vw;
}

.quantity-selector {
    width: 6vw;
    height: 2.58vw;
    text-align: right;
}

.under-header-box {
    border: solid blue;
    margin-top: 5vw;
    min-height: 50vw;

    display: flex;
    justify-content: flex-start;
    gap: 5vw;

}

.selector-box{
    border: solid darkturquoise;
}
.selector-text-box{
    border: solid orange;
    padding: 2vw;
    margin-left: 0vw;
    display: flex;
    gap: 4vw;
}

.selector-form {
    border: solid rebeccapurple;
    padding: 2vw;
    margin-left: 5vw;
    display: flex;
    gap: 4vw;

}

.span-selector-text{
    height: 3vw;
    width: 16vw;
    text-align: center;
    font-size: 1.6vw;
}
.span-bottom{
    border: solid cadetblue;
}
.span-topping{
    border: solid black;
}
.span-quantity{
    border: solid palevioletred;
    width: 4vw;
}

.add-btn{
    height: 3vw;
    width: 6vw;

}

.cart-box {
    border: solid green;
}

.cart-table {
    border: solid black;
}

.cart-table td {
    border: solid black;
    padding: .2vw;
}