
.page-box{
    font-family: "Book Antiqua";
}

.header-for-all-pages {
    border: solid red;
    display: flex;
    justify-content: space-between;
    font-family: "Book Antiqua";
}

header-left-side-btns-box{
    border: solid cadetblue;
}

.header-btn{
    height: 5vw;
    width: 10vw;

}
.home-btn{
    margin-left: 3vw;

}

.manage-btn{

}

.login-btn{
    margin-right: 3vw;
    background-color: blue;
    color: white;

}

.orders-btn{
    height: 5vw;
    width: 10vw;
    margin-left: 1.5vw;

}

.all-orders-btn{
    height: 5vw;
    width: 10vw;
    margin-left: 1.5vw;
}

table, th, td {
    border: 1px solid;
}