.btn{
    width: 18vw;
    height: 3vw;
}
.page-box{
    font-family: "Book Antiqua";
}

.header-for-all-pages {
    border: solid red;
    display: flex;
    justify-content: space-between;
    font-family: "Book Antiqua";
}
.home-btn{
    margin-left: 10vw;
    height: 5vw;
    width: 10vw;
}

.login-btn{
    margin-right: 10vw;
    height: 5vw;
    width: 10vw;
    background-color: blue;
}