<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Buy Cupcake</title>
    <link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
    <link href="../public/css/cupcakeSelectionStyle.css" th:href="@{/css/cupcakeSelectionStyle.css}" rel="stylesheet"/>
</head>

<body>

<div class="page-box">
    <header>
        <div class="header-for-all-pages">
            <button class="home-btn">Home</button>
            <button class="login-btn">Login</button>
        </div>
    </header>

    <div class="under-header-box">

        <div class="selector-box">
            <div class="selector-text-box">
                <span class="span-bottom span-selector-text">Bottom</span>
                <span class="span-topping span-selector-text">Topping</span>
                <span class="span-quantity span-selector-text">Quantity</span>
            </div>


            <form method="post" class="selector-form">
                <select class="selector bottom-selector" name="topping">
                    <option selected="selected">Choose bottom</option>
                    <option th:each="bottom: ${#ctx.allBottoms}"  th:text="${bottom.getName()+ ' '+ bottom.getPrice() + 'kr.'}"></option>
                </select>

                <select class="selector topping-selector" name="bottom">
                    <option selected="selected">Choose topping</option>
                    <option th:each="topping: ${#ctx.allToppings}"  th:text="${topping.getName()+ ' '+ topping.getPrice() + 'kr.'}"></option><option></option>
                </select>
                <input class="quantity-selector" name="quantity" value="1">


                <button class="add-btn" formaction="/addToCart">Add to cart</button>

            </form>
        </div>


        <div class="cart-box">
            <table class="cart-table">
                <tr>
                    <th>Cart</th>
                </tr>
                <tr th:each="orderline: ${#ctx.session.orderlineList}">
                    <td th:text="${orderline.topping}"></td>
                    <td th:text="${orderline.bottom}"></td>
                    <td th:text="${orderline.quantity}"></td>
                    <td th:text="${orderline.totalPrice}"></td>
                </tr>
                <tr>
                    <td colspan="4">Total price:</td>
                </tr>
            </table>

        </div>
    </div>


</div>

</body>
</html>