<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Frontpage</title>
    <link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
    <link href="../public/css/frontpageStyle.css" th:href="@{/css/frontpageStyle.css}" rel="stylesheet"/>
</head>


<body>
<div class="Background">
<header th:frontpage="header">
    <div class="header-for-all-pages">
        <div class="header-left-side-btns-box">
           <a href="/"> <button class="home-btn header-btn">Home</button></a>
           <a th:if="${!#ctx.session.isEmpty()}">
               <a href="/userPage"><button class="orders-btn header-btn" th:if="${#ctx.session.currentUser.role.equals('customer') || #ctx.session.currentUser.role.equals('user')}" th:value="${#ctx.session.currentUser.id}">Orders</button></a>
               <button class="all-orders-btn header-btn" th:if="${#ctx.session.currentUser.role.equals('admin')}" th:value="${#ctx.session.currentUser.id}">Manage</button>
           </a>
        </div>
        <a class="header-btn" th:if="${!#ctx.session.isEmpty()}" th:text="${#ctx.session.currentUser.getName()}"></a>
        <a th:if="${#ctx.session.isEmpty()}" href="/login"><button class="login-btn header-btn">Login</button></a>
        <a th:if="${!#ctx.session.isEmpty()}" th:href="@{/logout}"><button class="login-btn header-btn">Logout</button></a>
    </div>
</header>


    <div class="center-screen">

        <form method="post">

            <button class="ButtonClass" type="submit" formaction="/cupcakeSelection"> Buy Cupcakes</button>


        </form>
    </div>
</div>
</body>
</html>