<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Frontpage</title>
    <link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
    <link href="../public/css/frontpageStyle.css" th:href="@{/css/frontpageStyle.css}" rel="stylesheet"/>
</head>


<body>
<div class="Background">
    <header th:frontpage="header">
        <div class="header-for-all-pages">

            <div th:if="${#ctx.session.isEmpty()}" class="header-left-side-btns-box">
                <a href="/">
                    <button type="button" class="home-btn">Home</button>
                </a>
            </div>

            <div th:if="${!#ctx.session.isEmpty()}" class="header-left-side-btns-box">
                <a href="/" th:if="${#ctx.session.currentUser.role.equals('customer') || #ctx.session.currentUser.role.equals('user')}">
                    <button type="button" class="home-btn">Home</button>
                </a>

                <div class="intermediate-header-left-side-btns-box"
                     th:if="${#ctx.session.currentUser.role.equals('customer') || #ctx.session.currentUser.role.equals('user')}">

                    <div>
                        <a href="/userPage"/>
                        <button class="orders-btn header-btn" th:value="${#ctx.session.currentUser.id}">Orders
                        </button>
                        </a>
                    </div>
                    <a href="/cupcakeSelection">
                        <button class="buy-cupcakes-btn header-btn">Buy cupcakes</button>
                    </a>
                </div>

                <a href="/" th:if="${#ctx.session.currentUser.role.equals('admin')}">
                    <button type="button" class="home-btn">Home</button>
                </a>
                <a th:if="${#ctx.session.currentUser.role.equals('admin')}">
                    <button class="all-orders-btn header-btn" th:value="${#ctx.session.currentUser.id}">Manage
                    </button>
                </a>

            </div>

            <a class="header-btn" th:if="${!#ctx.session.isEmpty()}"
               th:text="${#ctx.session.currentUser.getName()}"></a>


            <div th:if="${#ctx.session.isEmpty()}" class="header-right-side-btns-box">
                <form method="post">
                    <button type="submit" class="login-btn" name="loginTologin" value="login"
                            formaction="/loginToLogin">Login
                    </button>
                </form>
            </div>
            <div class="header-right-side-btns-box" th:if="${!#ctx.session.isEmpty()}">
                <a th:href="@{/logout}">
                    <button class="login-btn">Logout</button>
                </a>
            </div>
        </div>
    </header>


    <div class="center-screen">

        <form method="post">
            <button th:if="${#ctx.session.isEmpty()}" class="ButtonClass" type="submit" formaction="/loginToBuyCupcakes" name="buyCupcakes"
                    value="1">Buy Cupcakes
            </button>
        </form>

        <a th:if="${!#ctx.session.isEmpty()}" href="/cupcakeSelection">
            <button th:if="${#ctx.session.currentUser.role.equals('customer') || #ctx.session.currentUser.role.equals('user')}"
                    class="ButtonClass"> Buy Cupcakes
            </button>
        </a>

        <a th:if="${!#ctx.session.isEmpty()}" href="/adminpage">
            <button th:if="${#ctx.session.currentUser.role.equals('admin')}" class="ButtonClass"> Buy
                Cupcakes
            </button>
        </a>


    </div>
</div>
</body>
</html>