<!DOCTYPE html>
<html lang="en">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<title>Login</title>
<link href="../public/css/loginStyle.css" th:href="@{/css/loginStyle.css}" rel="stylesheet"/>
<head>
<body>

<div class="center-screen">
<h1>Login</h1>

<form  action="/action_page.php">
    <label for="username">Username:</label><br>
    <input type="text" id="username" name="username"><br>
    <label for="pwd">Password:</label><br>
    <input type="password" id="pwd" name="pwd"><br><br>
    <input type="submit" value="login">
    <button type="submit" class="signupbtn">Sign Up</button>

</form>

</div>

</body>
</html>