<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Template</title>
    <link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
    <link href="../public/css/cupcakeSelectionStyle.css" th:href="@{/css/cupcakeSelectionStyle.css}" rel="stylesheet"/>

</head>

<body>

<div class="page-box">
    <header>
        <div class="header-for-all-pages">
            <button class="home-btn">Home</button>

            <form method="post">
                <button type="submit" class="login-btn" formaction="/login">Login</button>
            </form>
        </div>
    </header>

    <table class="cart-table">
        <tr>
            <th>Qty</th>
            <th></th>
            <th>Bottom</th>
            <th>Topping</th>
            <th>Price</th>
            <th>Del</th>
        </tr>

        <tr th:each="orderline: ${#ctx.receipt.getOrderlineList()}">
            <td th:text="${orderline.quantity}"></td>
            <td>X</td>
            <td th:text="${orderline.bottom.name}"></td>
            <td th:text="${orderline.topping.name}"></td>
            <td th:text="${orderline.totalPrice}"></td>
            <form method="post">
                <td> <button class="delete-btn" type="submit" formaction="/deleteOrderlineInCart" name="delete-btn" th:value="${#ctx.receipt.getOrderlineList().indexOf(orderline)}">Del</button></td>
            </form>
        </tr>
        <tr>
            <td colspan="6" th:text="${'Total price: ' + #ctx.receipt.getTotalPriceOfCart()}"></td>
        </tr>
    </table>
</div>

</body>
</html>