<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Template</title>
    <link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>

</head>

<body>

<div class="page-box">

    <header>
        <div class="header-for-all-pages">
            <div class="header-left-side-btns-box">
                <button class="home-btn header-btn">Home</button>
                <button class="orders-btn header-btn" th:if="${#ctx.session.currentUser.role.equals('customer')}" th:value="${#ctx.session.currentUser.id}">Orders</button>
                <button class="all-orders-btn header-btn" th:if="${#ctx.session.currentUser.role.equals('admin')}" th:value="${#ctx.session.currentUser.id}">Manage</button>
            </div>
            <button class="login-btn header-btn">Login</button>
        </div>
    </header>

</div>

</body>
</html>