<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Template</title>
    <link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>

<body>

<header>
    <div class="page-box">
        <div class="header-for-all-pages">
            <button class="home-btn">Home</button>
        </div>
    </div>
</header>
<div>
    <h2> <span th:text="${currentUser.name}"></span> Ordre </h2>
    <table>
        <thead>
        <tr>
            <th>Order date</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="order : ${#ctx.session.userOrders}">
            <td th:text="${userOrders.date}">DATE</td>
            <td><form method="post"> <input type="number" name="orderid" hidden th:attr="value=${order.id}"></input><button type="submit" formaction="/userOrderLine">Show orderlines</button></form></td>
        </tr>
        </tbody>
    </table>
</div>


</body>
</html>